@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body, header { background-image: url('backg.jpg');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #4c6069;
}

header {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    font-family: "Merriweather", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    text-decoration: none;
}

body {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}